.bucketRow {
    display: flex;
    gap: 20%;
    column-gap: 20px;
    margin-left: 10%;
}

.bucketListBgImg {
    max-width: 100%;
    height: auto;
}

h2 {
    color: white;
}

.rectangle{ 
    width: 200px;
    height: 200px;
    margin-top: -20px;
    border: black;
    border-radius: 100px;
    border-color: black;
}

.thumbnail {
    background-color: gray;
    border-radius: 20px;
}

.bucketListButtons {
    display: flex;
    gap: 10px;
    margin: auto;
}