/* Typography */
body {
    color:white
}

img {
    pointer-events: none;
    border-radius: 0.3rem;    
}
.leftContent {
    position: sticky;
    top: 0;
}
.container {
    display: flex;
}
/* Left Content */
#locationMainImg{
    margin-top: 10%;
    /* width: 100%;
    height:auto; */
    box-sizing: border-box;
}

/* Right Content */

.destinationContent {
    width: 100%;
    margin-left: 20%;
}
.destinationInfo {
    display:flex;
}

h1, .destinationTitle{
    font-size: 3rem;
    line-height: 3rem;
    color: #f68ca2;
    margin-bottom: 0;
    text-align: left;
    margin-bottom: 2%;
}
h3 {
   color: #FFE4E1 !important; 
}

.destinationTagline {
    margin:auto;
    width: 100%;
    margin-bottom: 2%;
}

.destinationSummary {
    border-radius: 25px;
    border: 5px solid #f68ca2;
    margin-top: 20px;
    padding: 50px;
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 2%;
}

/* Activities */
.activity img {
    max-width: 600px;
    height: auto;   
    margin: 0 auto;

}
.activity h3 {
    width: 600px;
}

p {
    width: 600px;
    text-align: left;
}

/* Destination Tips */

.destinationTipArea h1 {
    margin-bottom: 2%;
    color: #f68ca2 !important;
    text-align: left !important;    
}

.destinationTipArea {
    width: 100%;
    margin-left: 20%;

}
.destinationTip {
    margin:auto;
}

#vocabTip, #bestVisitTimes {
    margin-top: 5%;
    width: 100%;
    margin: auto;
    width: 100%;
}
#vocabTip {
    margin-bottom: 2%;
}
.destinationTip ul {
    margin: auto;
    width: 100%;
}

.destinationTip li {
    display: block;
    color: white;
}
