img {
    vertical-align: top;
    pointer-events: none;
}
.locationPage{
    display: flex;
}

/* Left Content */
.mainImgContainer {
    display:flex;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.locationMainImg{
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0.3rem;
}

/* Right Content */

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

ul li {
    flex-basis: 30%;
}
.destinationContent {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px; /* Width of the scrolling content */
    overflow-y: auto;
}

.destinationTitle{
    font-size: 3rem;
    line-height: 3rem;
    color: #f68ca2;
    margin-bottom: 0;
    text-align: center;
}

.destinationTagline {
    margin:auto;
}

.destinationSummary {
    border-radius: 25px;
    border: 5px solid #f68ca2;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    width: 50%;
    height: auto;
  }

.activityImg {
    margin:auto;
}

.activityImgLeft{
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    gap:10px;
}

.activityDescriptionRight {
    margin:auto;
}

.rightPositioning {
    margin:auto;
}

.activityImgRight{
    display: flex;
}

.activityDescriptionLeft {
    margin:auto;
}

/* Destination tips */
.destinationSquare {
    width: 20px;
    height: 20px;
    background-color: white;
}

.destinationTip {
    margin:auto;
}

#vocabTip {
    margin: auto;
}

#bestVisitTimes {
    margin: auto;
}

#randomTip {
    margin: auto;
}
