/* Typography */

body {
    color:white
}

h1 {
    color: #f68ca2 !important;    
}

/* Sett up stagnant demensions for all images */
img {
    pointer-events: none;
    border-radius: 0.3rem;    
}

/* Left Content */
.locationMainImg{
    margin-top: 20%;
    height: 20%;
    width: 70%;
    margin: auto;
    left: 0;
    position: relative;
}

/* Right Content */

.destinationInfo {
    display:flex;
}

h1, .destinationTitle{
    font-size: 3rem;
    line-height: 3rem;
    color: #f68ca2;
    margin-bottom: 0;
    text-align: center;
}

.destinationTagline {
    margin:auto;
    width: 100%;
}


.destinationSummary {
    border-radius: 25px;
    border: 5px solid #f68ca2;
    margin-top: 20px;
    padding: 50px;
    width: 100%;
    height: auto;
    text-align: center;
}

/* Activities */
.activity img {
    max-width: 600px;
    height: auto;   
    margin: 0 auto;

}
.activity h3 {
    width: 600px;
}

p {
    width: 600px;
    text-align: left;
}
/* Activity Titles */

/* Destination tips */
.destinationTipArea {
    width: 100%;
}

.destinationTip {
    margin:auto;
}

#vocabTip {
    margin-top: 5%;
    width: 100%;
}

#bestVisitTimes {
    margin-top: 5%;
    width: 100%;
}

