h4, h5, h6 {
    color: aliceblue;
}

img {
    object-fit: cover;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.textOverlay {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  