h4, h5, h6 {
    color: #333333 !important;
}

img {
    object-fit: cover;
}

.container {
    position: relative;
    text-align: center;
}

.textOverlay {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  