h4, h5, h6 {
    color: white !important;
}

img {
    object-fit: cover;
}

.container {
    position: relative;
    text-align: center;
}

.textOverlay {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background: rgba(57, 57, 57, 0.5);

}
  