/* Appears in Navigation Bar */

.customBg{
    background-color: #CFC493 !important;
}

.navbar {
    background-color: #CFC493;
    width: 100%;
}

nav .container-fluid {
    width: 100%;
}

img{
    height: auto;
    width: auto;
}

body {
    background-color: #2E2E4D;
}

#torii-gate-logo{
    height: 30%;
    width: 30%;
}

#torii-gate-footer-logo{
    height: 200px;
    width: 200px;
    
}

h1, h2, h3 {
    color: white;
}
p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9370db;
}

footer {
    background-color: #CFC493;
 
    color: #fff;
    margin-top: 50px;
    font-size: .75rem;
    text-align: center;
    padding: 2rem 1rem;
}

ul {
    list-style-type: none; /* Removes bullets   */
    margin: auto;
    padding: 100;
    overflow: hidden;
    width: 100%;
}

li {
    display: inline;
    color: #CFC493;
}

.top-page {
    top: 0;
    background-color: transparent;

}
.slideshow{
    display: flex; 
}

.nav-link:active {
    color: #F7A8B8 !important;
}

h1 {
    color: white;
    text-align: center;
}
header {
    display: inline-flex;
}


/* Leaflet Map */
#map { 
    height: 600px;
    width: 100%; 
    
}

.markerImg {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.markerText {
    color:black;
}

.contactMe {
    display: block;
    color: white;
    margin-left: auto;
}
.contactMe li {
    display: inline-block;
    margin-left: auto;
}

.contactIcon {
    height: 25px;
    width: 25px;
}

.contactInfo ul {
    display:block;
}

.markerText {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
}

.container {
    display: flex;
}