/* Appears in Navigation Bar */
img{
    height: 500px;
    width: 500px;
}

#torii-gate-logo{
    height: 250px;
    width: 250px;
}

#website-logo{
    display: flex;
}

p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

footer {
    background-color: #CFC493;
}

ul {
    list-style-type: none; /* Removes bullets   */
    margin: auto;
    padding: 100;
    overflow: hidden;
    width: 100%;
}

li {
    display: inline;
    color: #CFC493;
}

.top-page {
    top: 0;
    background-color: transparent;

}
.slideshow{
    display: flex;
    

}
body {
    background-color: #2E2E4D;
}

.highlight {
    color: #F7A8B8;
}
h1 {
    color: white;
}
header {
    display: inline-flex;
}

.rectangle{ 
    width: 200px;
    height: 200px;
    background-color: #4a4a4a;
    margin-top: -20px;
}

/* IMPORTANT Leaflet Map */
#map { height: 500px; }

.customizedMarker{
    color: #F7A8B8;
}