/* Appears in Navigation Bar */

.customBg{
    background-color: #2E2E4D;
}

img{
    height: 500px;
    width: 500px;
}

body {
    background-color: #2E2E4D;
}

#torii-gate-logo{
    height: 250px;
    width: 250px;
}

#torii-gate-footer-logo{
    height: auto;
    width: 30%;
    padding: 20px;
    margin-left: 10%;
}
#website-logo{
    display: flex;
}

p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

footer {
    background-color: #CFC493;
    display: flex;
}

ul {
    list-style-type: none; /* Removes bullets   */
    margin: auto;
    padding: 100;
    overflow: hidden;
    width: 100%;
}

li {
    display: inline;
    color: #CFC493;
}

.top-page {
    top: 0;
    background-color: transparent;

}
.slideshow{
    display: flex;
    
}

.nav-link active {
    color: #F7A8B8;
}

h1 {
    color: white;
}
header {
    display: inline-flex;
}

.rectangle{ 
    width: 200px;
    height: 200px;
    background-color: #4a4a4a;
    margin-top: -20px;
}

/* IMPORTANT Leaflet Map */
#map { height: 500px; }

.customizedMarker{
    color: #F7A8B8;
}

.markerImg {
    width: 100px;
    height: 100px;
}

.markerText {
    color:black;
}

.contactMe {
    display: block;
    color: white;
}

.contactIcon {
    height: 32px;
    width: 43px;

}